#questionnaire_wrap #HTitle {
    font-size: 22px !important;
    color: #515151;
}
.main {
    background: #fff;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 5px;
}

.warp {
    width:820px;
    height: 420px;
    margin: 0px 20px;
    background: #fff;
    overflow: hidden;
    position: relative;
}

.issue {
    position: absolute;
    top: 0;
    left: 0;
    width:820px;
    height: auto;
    z-index: 99;
}

.issue div {
    height: 387px;
    padding-bottom: 33px;
    background: #fff;
}

.issue h3 {
    line-height: 1.5em;
    font-size: 1.3em;
    color: #404040;
    padding: .8em .5em .5em;
    font-weight: 100;
}

.issue ul {
    padding: 4px 10px;
}

.issue li {
    margin-bottom: 3px;
    line-height: 24px;
    min-height: 24px;
    padding: 1px 0 4px;
}

.issue li:hover,
.issue li.hover {
    background: #feffff;
}

.issue li input {
    display: none;
}

.issue li span {
    float: left;
    clear: left;
    width: 22px;
    height: 22px;
    overflow: hidden;
    margin: 3px 3px 0 0;
    background: url(../imgs/questionnaire_bg.png) 0 0 no-repeat;
}

.issue li:hover span,
.issue li.hover span {
    cursor: pointer;
    /*background: url(../imgs/questionnaire_bg.png) 0 -22px no-repeat;*/
}

.issue li label {
    float: left;
    width: 370px;
    color: #555;
    margin-top: 3px;
}

.issue div.selected {
    background: #fdfeff;
}

.issue div.selected li {
}

.issue div.selected li:hover,
.issue div.selected li.hover {
    background: none;
}

.issue div.selected li:hover span,
.issue div.selected li.hover span {
    background: url(../imgs/questionnaire_bg.png) 0 0 no-repeat;
}

.issue div.selected li.sel {
}

.issue li.sel span,
.issue div.selected li.sel:hover span {
    background: url(../imgs/questionnaire_bg.png) 0 -44px no-repeat;
}

.issue div.result {}

.issue div.result p {
    line-height: 20px;
    padding: 0 16px;
    text-indent: 2em;
    margin-top: 4px;
}

.ctrl {
    height: 32px;
    width:820px;
    position: absolute;
    bottom: 0;
    left: 0;
    /*background: url(../imgs/questionnaire_bg.png) 0 -260px repeat-x;*/
    z-index: 100;
}

.btns {
    float: right;
    width: 56px;
    padding-left: 5px;
    /*background: url(../imgs/questionnaire_bg.png) -9px -319px no-repeat;*/
    height: 32px;
    margin-right:675px;
    margin-bottom: 5px;
}

.btns span {
    float: left;
    width: 22px;
    height: 24px;
    margin: 4px 3px;
    display: inline;
    text-indent: -10000px;
    cursor: pointer;
}

.btns span.prev {
    background: url(../imgs/questionnaire_bg.png) 0 -89px no-repeat;

}

.btns span.next {
    background: url(../imgs/questionnaire_bg.png) 0 -67px no-repeat;
}

.btns span.noprev {
    background: url(../imgs/questionnaire_bg.png) 0 -133px no-repeat;
    cursor: default;
}

.btns span.nonext {
    background: url(../imgs/questionnaire_bg.png) 0 -111px no-repeat;
    cursor: default;
}

.btns span.hvprev {
    background: url(../imgs/questionnaire_bg.png) 0 -89px no-repeat;
}

.btns span.hvnext {
    background: url(../imgs/questionnaire_bg.png) 0 -67px no-repeat;
}

.btns span.dwprev {
    background: url(../imgs/questionnaire_bg.png) 0 -116px no-repeat;
}

.btns span.dwnext {
    background: url(../imgs/questionnaire_bg.png) 0 -140px no-repeat;
}

.prog {
    position: relative;
    width: 102px;
    float: left;
    height: 14px;
    line-height: 0;
    font-size: 0;
    margin: 7px 8px 0 0;
    background: #fff;
    display: inline;
}

.ress {
    float: left;
    width: 1px;
    height: 12px;
    /*background: url(../imgs/questionnaire_bg.png) 0 -303px repeat-x;*/
}

.ptip {
    position: absolute;
    width: auto;
    padding-bottom: 13px;
   /* background: url(../imgs/ptip.png) bottom center no-repeat #fff;*/
    bottom: 18px;
    left: 0;
}

.ptip span {
    display: block;
    padding: 5px;
    font-size: 12px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    border-bottom: none;
}

.temp {
    float: left;
    padding-left: 10px;
    line-height: 32px;
    width: 120px;
}

.war {
    position: absolute;
    text-align: center;
    width: 120px;
    height: 24px;
    line-height: 24px;
    color: #c00;
    background: #F5E8E0;
    top: 80px;
    left: 150px;
    display: none;
}

.loader {
    text-align: center;
    margin: 140px auto 0;
}

.loader img {
    margin: 0 auto;
    display: block;
}

.info {
    width:820px;
    margin: 10px 20px;
    color: #555;
}
 p {
    line-height: 20px;
    font-size: 12px;
    color: #9c9c9c;
    text-align: center;
}