.forms_wrap {
    width:1200px;
    height: 1650px;
    background: #fff;
    margin:0px auto;
    overflow: hidden;
}

.forms_wrap .tab_mouseover {
    width:855px;
    margin:0px auto;
    margin-top:72px;
}
.forms_wrap .tab_mouseover .tab_menu {
    display: inline-block;
    position: relative;
}
.forms_wrap .tab_mouseover .tab_menu  li {
    float: left;
    width:108px;
    border-top-left-radius:8px;
    height: 36px;
    line-height: 36px;
    color: #000;
    text-align: center;
    display: inline-block;
    border:1px solid #bfbfbf;
    border-bottom: none;
    background: #fff;
}
.forms_wrap .tab_mouseover .tab_menu li:last-child {
    border-top-left-radius:0px;
    border-top-right-radius:8px;
}
.forms_wrap .tab_mouseover .tab_box >div {
    display: block;
    width: 100%;
    border:1px solid #cccccc;
/*    height: 810px;*/
    position: relative;
    top:-2px;
}
.forms_wrap .tab_mouseover .tab_box .hide {
    display:none;
}
.forms_wrap .tab_mouseover .tab_menu li.current{
    background: #f17100;
    color: #fff;
    border:1px solid #f17100;
    border-bottom: none;
}
.forms_wrap .tab_mouseover .tab_box .registerform {
    padding: 30px;
}
.forms_wrap .tab_mouseover .tab_box .registerform tbody tr td {
    line-height: 68px;
    text-align: right;
}
.forms_wrap .tab_mouseover .tab_box .registerform tbody tr td  .Validform_checktip{
    text-align: left;
}
.forms_wrap .tab_mouseover .tab_box .registerform tbody tr .need {
    color: red;
    padding-right: 5px;
    width: 10px;
}
.forms_wrap .tab_mouseover .tab_box .registerform tbody input {
    width:325px;
    height: 34px;
    border:1px solid #cccccc;
    text-indent: 5px;
}
.forms_wrap .tab_mouseover .tab_box .registerform tbody select {
    width:325px;
    height: 36px;
    border:1px solid #cccccc;
    padding-left: 5px;
}
.forms_wrap .tab_mouseover .tab_box .registerform #seachprov,
.forms_wrap .tab_mouseover .tab_box .registerform #seachcity,
.forms_wrap .tab_mouseover .tab_box .registerform #seachdistrict

{
    width:102px;
    display: inline-block;
    float: left;
    line-height: 36px;
    margin-right: 5px;
}
.forms_wrap .tab_mouseover .tab_box .registerform .search_wrap {
    width:100% !important;

}
.forms_wrap .tab_mouseover .tab_box .registerform  .search_box {
    /*width:100% !important;*/
    padding-left: 18px;
}
.forms_wrap .tab_mouseover .tab_box .registerform .register_btn {
    width:85px;
    height: 35px;
    line-height: 35px;
    border-radius: 5px;
    background-color: #f17100;
    border:1px solid #f17100;
    text-align:center;
    color: #fff;
    display: block;
    margin: 0px auto;
    margin-top:60px;
    margin-bottom: 50px;
    -o-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -ms-transition: all .2s ease;
    transition: all .2s ease;
}
.forms_wrap .tab_mouseover .tab_box .registerform .register_btn:hover{
    background-color: #1fb7fb;
    border:1px solid #1fb7fb;
}
#wrapper #container {
    margin-bottom: 60px;
}
.forms_wrap .tab_mouseover .tab_box .registerform .Validform_wrong{
    padding-left: 128px;
}

